@font-face { font-family: Aileron; font-weight: 100; font-style: normal; src: url('../fonts/aileron/Aileron-UltraLight-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 200; font-style: normal; src: url('../fonts/aileron/Aileron-Thin-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 300; font-style: normal; src: url('../fonts/aileron/Aileron-Light-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 400; font-style: normal; src: url('../fonts/aileron/Aileron-Regular-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 600; font-style: normal; src: url('../fonts/aileron/Aileron-SemiBold-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 700; font-style: normal; src: url('../fonts/aileron/Aileron-Bold-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 800; font-style: normal; src: url('../fonts/aileron/Aileron-Heavy-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 900; font-style: normal; src: url('../fonts/aileron/Aileron-Black-webfont.woff') format('woff'); }

@font-face { font-family: Aileron; font-weight: 100; font-style: italic; src: url('../fonts/aileron/Aileron-UltraLightItalic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 200; font-style: italic; src: url('../fonts/aileron/Aileron-ThinItalic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 300; font-style: italic; src: url('../fonts/aileron/Aileron-LightItalic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 400; font-style: italic; src: url('../fonts/aileron/Aileron-Italic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 600; font-style: italic; src: url('../fonts/aileron/Aileron-SemiBoldItalic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 700; font-style: italic; src: url('../fonts/aileron/Aileron-BoldItalic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 800; font-style: italic; src: url('../fonts/aileron/Aileron-HeavyItalic-webfont.woff') format('woff'); }
@font-face { font-family: Aileron; font-weight: 900; font-style: italic; src: url('../fonts/aileron/Aileron-BlackItalic-webfont.woff') format('woff'); }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { @apply text-base md:text-lg lg:text-xl scroll-smooth antialiased; }
  body { @apply flex flex-col min-h-screen overflow-x-hidden overflow-y-auto; }

  /* *:focus-visible { @apply ring-2 ring-black ring-offset-4 ring-offset-gray rounded outline-none; } */

  small { @apply text-unset; }
  address { @apply not-italic; }
  svg { @apply fill-current; }

  summary {
    @apply cursor-pointer;
    &::-webkit-details-marker { @apply hidden; }
  }

  /* input[type='search'] {
    &::-webkit-search-cancel-button {
      @apply appearance-none box-border w-4 h-4 p-1;
      @apply bg-black-light bg-image-cross bg-origin-content bg-no-repeat rounded-full;
    }
  } */

  button {
    font: inherit;
    text-align: inherit;
    text-transform: inherit;
  }

  a, button {
    text-decoration: underline currentcolor solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 0;
    text-underline-position: under;
    @apply transition-all;

    &:hover, &:focus {
      text-underline-offset: 2px;
    }
  }
}

@layer components {
  .container { @apply max-w-none xl:max-w-screen-2xl mx-auto !important; }

  .bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  .grid-layout {
    @apply grid;
    &:not([class*='gap-']) { @apply gap-4; }
    &:not([class*='grid-cols-']) { @apply grid-cols-5 lg:grid-cols-7; }
  }

  .ddp-button {
    @apply inline-flex items-center justify-center gap-2;
    @apply w-auto min-h-[2rem] px-4 py-2 border border-current rounded-full;
    @apply uppercase lg:normal-case bg-transparent text-center text-sm leading-none;
    @apply no-underline cursor-pointer transition-colors duration-200 ease-in-out;
  }

  .ddp-button-icon {
    mask-size: contain;
    mask-image: var(--icon-url);
    @apply w-4 h-4 bg-current;
  }

  .rich-text {
    @apply grid gap-4;

    & :is(h1, h2, h3, h4, h5, h6, b, strong) { @apply font-semibold; }

    & h1 { @apply text-4xl; }
    & h2 { @apply text-3xl; }
    & h3 { @apply text-2xl; }
    & h4 { @apply text-xl; }
    & h5 { @apply text-lg; }
    & h6 { @apply text-base; }

    & ul { @apply list-disc list-inside; }
    & ol { @apply list-decimal list-inside; }

    & img { @apply h-auto max-w-full object-cover; }
    & iframe { @apply aspect-[16/9] w-full h-auto max-w-full object-cover rounded-2xl overflow-hidden; }
    & pre { @apply h-auto max-w-full text-sm bg-black/10 overflow-auto; }

    & .rich-text {
      @apply gap-2;
    }
  }
}

@layer utilities {
  .bg-gradient-corner-yellow {
    background-image: linear-gradient(135deg, #e4ff6a, cubic-bezier(0, 0.75, 0.25, 1), transparent);
  }
}

.facetwp-facet {
  @apply flex flex-wrap justify-center items-center gap-2;
  & .facetwp-counter { @apply sr-only; }

  & .facetwp-checkbox {
    @apply ddp-button;
    &:is(:hover, .checked) { @apply text-gray bg-black !important; }
  }

  & .facetwp-radio {
    @apply ddp-button;
    &:is(:hover, .checked) { @apply text-gray bg-black !important; }
  }

  & .facetwp-pager {
    @apply flex items-center justify-center gap-4;

    & .facetwp-page {
      @apply ddp-button;
      &:is(:hover, .checked) { @apply text-white bg-black !important; }
      &.active:not(.prev, .next) { @apply font-bold; }
      &:not(.prev, .next) { @apply hidden; }
    }
  }
}
