@font-face {
	font-family: 'NimbusSanL';
	src: url('#{$fonts}NimbusSanL-Reg.woff2') format('woff2'),
	 	url('#{$fonts}NimbusSanL-Reg.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'NimbusSanL';
	src: url('#{$fonts}NimbusSanL-Bol.woff2') format('woff2'),
	 	url('#{$fonts}NimbusSanL-Bol.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'Aileron';
	src: url('#{$fonts}Aileron Black.woff2') format('woff2'),
	 	url('#{$fonts}Aileron Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'Aileron';
	src: url('#{$fonts}Aileron Black Italic.woff2') format('woff2'),
	 	url('#{$fonts}Aileron Black Italic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'Aileron';
	src: url('#{$fonts}Aileron Light.woff2') format('woff2'),
	 	url('#{$fonts}Aileron Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'Favorit';
	src: url('#{$fonts}FavoritLightC.woff2') format('woff2'),
	 	url('#{$fonts}FavoritLightC.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00F7;
}