/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $gray;

  @include media('<desktop') {
    @at-root .scrolled & {
      box-shadow: 0 2px 0 0 $border-color;
    }
  }
  @include media('>=desktop') {
    border-bottom: 2px solid $border-color;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;

    &::before,
    &::after {
      display: none;
    }

    @include display-flex();

    > * {
      @include flex(0 1 auto);
    }
  }

  .navbar-header {
    margin-left: 0;
    margin-right: 0;
    transition: width 0.3s ease;

    &::before,
    &::after {
      display: none;
    }

    @include media('<desktop') {
      float: none;
      width: 100%;
      @include clearfix();
    }

    @include media('>=desktop') {
      width: 28.03%;

      @at-root .scrolled & {
        /* width: 38.67%; */
        .navbar-brand {
          font-weight: normal;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          line-height: 32px;
          font-family: "NimbusSanL", Arial, Helvetica, sans-serif;
        }

        strong {
          font-weight: normal;
          margin-right: 3px;
        }
      }
    }
  }

  .navbar-brand {
    position: relative;
    padding: 10px;
    margin: 0;
    width: 130px;
    height: auto;
    font: 600 16px/32px $poppins;
    text-transform: uppercase;

    @include media('<desktop') {
      font-weight: 400;
      font-size: 26px;
      line-height: 1em;
      font-family: $nimbus;
      padding-left: $grid-gutter-width-mobile/2;
      padding-right: $grid-gutter-width-mobile/2;
      padding-bottom: 14px;
    }

    @include media('>=desktop') {
      width: 100%;
      height: 52px;
      text-align: center;
    }

    em {
      font-style: normal;
    }

    span {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      @include text-overflow();
    }

    &:hover,
    &:focus {
      background-color: $red;
      color: inherit;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      transition: all 0.3s ease;
    }

    &::before {
      background: $gray;
      height: 81px;
      @include media('>=desktop') {
        height: 145px;
        border: solid $border-color;
        border-width: 0 2px 2px 0;
      }
    }

    &::after {
      width: 190px;
      height: 92px;
      background: url('#{$images}logo.svg') no-repeat;
      background-size: 100% auto;
      @include media('<desktop') {
        width: 109px;
        height: 54px;
        margin-top: 13px;
        margin-left: 12px;
      }
      @include media('>=desktop') {
        margin-top: 23px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @at-root .scrolled & {
      @include media('<desktop') {
        width: 130px;
      }

      &::before,
      &::after {
        @include translate(0, -200%);
      }
    }

    @at-root .opened-menu & {
      @include media('<desktop') {
        width: 130px;

        &::before,
        &::after {
          @include translate(0, -200%);
        }
      }
    }
  }

  .navbar-toggle {
    margin: 9px 12px 5px 10px;
    width: 32px;
    height: 32px;
    padding: 5px 2px;
    border: 0;
    border-radius: 0;
    color: $dark-gray;
    @include media('<desktop') {
      display: block;
    }

    .icon-bar {
      position: relative;
      width: 28px;
      height: 2px;
      border-radius: 0;
      border-bottom: 2px solid;
      transition: all 0.3s ease;

      & + .icon-bar {
        margin-top: 8px;
      }

      @at-root .opened-menu & {
        &:nth-child(1) {
          top: 10px;
          @include rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: -10px;
          @include rotate(-45deg);
        }
      }
    }
  }
}

/* main-nav */
#main-nav {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  flex-grow: 1 !important;
  transition: width 0.3s ease;

  @include media('<desktop') {
    @include display-flex();
    @include flex-direction(column);
    position: fixed;
    z-index: 120;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin-right: -100%;
    float: none;
    overflow-y: auto;
    background: $gray;
    text-align: left;
    font-size: 26px;
    line-height: 35px;
    transition: margin 0.3s ease;

    @at-root .opened-menu & {
      margin-right: 0;
    }
  }

  @include media('>=desktop') {
    width: calc(100% - 28.45%);

    @at-root .scrolled & {
      width: 61.33%;
    }
  }

  .base {
    list-style: none;
    margin: 0;
    padding: 0;

    @include media('<desktop') {
      display: block;
      border-top: 2px solid $border-color;
    }

    @include media('>=desktop') {
      @include display-flex();
      @include flex(0 1 100%);
      margin-left: -2px;
    }

    > li {
      @include media('<desktop') {
        border-bottom: 2px solid $border-color;
      }

      @include media('>=desktop') {
        @include flex(0 1 100%);
        border-left: 2px solid $border-color;
      }

      > a {
        display: block;
        position: relative;
        z-index: 3;
        padding: 16px 10px 15px;
        @include media('<desktop') {
          padding: 7px $grid-gutter-width-mobile/2;
        }
      }
    }
  }
}

.opened-menu {
  overflow: hidden;
  height: 100%;

  .wrapper {
    height: 100%;
  }
}
