/* partners-carousel */
.partners-carousel {
  @include media('>=desktop') {
    margin-top: -2px;
  }

  .slick {
    &-track {
      @include display-flex();
      @include align-items(center);

      &::before,
      &::after {
        display: none;
      }
    }

    &-slide {
      padding-left: 48px;
      padding-right: 48px;
      height: auto;
      @include media('<desktop') {
        padding-left: 3px;
        padding-right: 3px;
      }

      img {
        vertical-align: top;
        max-width: 220px;
        max-height: 100px;
        @include media('<desktop') {
          @include scale(0.565);
        }
      }
    }
  }
}
