/* partners-carousel */
.partners-carousel {
	padding-left: 30px;
	padding-right: 30px;
	@include media('>=desktop') {
		margin-top: 22px;
		margin-bottom: 28px;
	}
	.slick {
		&-track {
			@include display-flex();
			@include align-items(center);
			&:before,
			&:after {
				display: none;
			}
		}
		&-slide {
			padding-left: 48px;
			padding-right: 48px;
			height: auto;
			@include media('<desktop') {
				padding-left: 3px;
				padding-right: 3px;
			}
			img {
				vertical-align: top;
				@include media('<desktop') {
					@include scale(.565);
				}
			}
		}
	}
}