body {
	min-width: 320px;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-main;
	color: $text-color;
	background: $gray;
	@include media('<desktop') {
		font-size: 15px;
		line-height: 1.2em;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	@include transition(all .3s);
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}
blockquote, q {quotes: none;}
q:before,
q:after {content: '';}
a {
	@include transition(all .3s);
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
a,
button,
input,
textarea,
select {
	&:focus {
		outline: none;
	}
}
.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	padding-top: 54px;
	@include media("<desktop") {
		padding-top: 50px;
	}
}
.container,
.container-fluid {
	@include media("<desktop") {
		padding-left: $grid-gutter-width-mobile/2;
		padding-right: $grid-gutter-width-mobile/2;
	}
}
h1,
.h1 {
	
}
h2,
.h2 {
	
}
h3,
.h3 {
	
}

.slick {
	&-slide {
		&:focus {
			outline: none !important;
		}
	}
	&-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 32px;
		height: 32px;
		padding: 0;
		margin: auto 0;
		border: 0;
		background: none;
		font-size: 0;
		line-height: 0;
		&:before {
			content: '';
			@include position-side();
			margin: auto;
			width: 20px;
			height: 20px;
			border: solid $dark-gray;
			border-width: 2px 2px 0 0;
		}
	}
	&-prev {
		left: 7px;
		&:before {
			@include rotate(-135deg);
		}
	}
	&-next {
		right: 7px;
		&:before {
			@include rotate(45deg);
		}
	}
	&-dots {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 11px;
		z-index: 20;
		text-align: center;
		font-size: 0;
		line-height: 0;
		@include media('<desktop') {
			bottom: 7px;
		}
		> li {
			display: inline-block;
			vertical-align: top;
			margin: 0 7px 10px;
			@include media('<desktop') {
				margin-left: 4px;
				margin-right: 4px;
			}
			&.slick-active {
				button {
					opacity: .19;
				}
			}
		}
		button {
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 0;
			padding: 0;
			margin: 0;
			font-size: 0;
			line-height: 0;
			background: lighten(saturate(adjust-hue($black, 60), 3.57), 10.98);
			@include media('<desktop') {
				width: 5px;
				height: 5px;
			}
			&:hover {
				opacity: .19;
			}
		}
	}
}

.row {
	@include media('<desktop') {
		margin-left: -$grid-gutter-width-mobile/2;
		margin-right: -$grid-gutter-width-mobile/2;
	}
	> [class*="col-"] {
		@include media('<desktop') {
			padding-left: $grid-gutter-width-mobile/2;
			padding-right: $grid-gutter-width-mobile/2;
		}
	}
	&-flex {
		@include media('>=tablet') {
			@include display-flex();
			@include flex-wrap(wrap);
			> [class*="col-"] {
				@include flex(0 1 auto);
			}
		}
	}
}

.page-header {
	border-bottom: 2px solid $dark-gray;
	padding-top: 20px;
	padding-bottom: 17px;
	margin-top: 0;
	margin-bottom: 0;
	@include media('<desktop') {
		padding-top: 11px;
		padding-bottom: 11px;
	}
	@include media('>=desktop') {
		text-transform: uppercase;
	}
	h1, h2, h3 {
		margin-top: 0;
		margin-bottom: 0;
		letter-spacing: .02em;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		@include media('<desktop') {
			font-weight: 700;
			font-size: 12px;
			line-height: 1.25em;
		}
	}
}