/* statistics */
.statistics {
  position: relative;
  margin-bottom: 72px;

  @include media('>=desktop') {
    @include display-flex();

    margin-bottom: 124px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 72px;
    background: url('#{$images}bg-decor.svg') repeat-x 50% -3px;
    background-size: auto 105%;
    border-bottom: 2px solid $border-color;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    @include media('>=desktop') {
      height: 124px;
    }
  }

  > * {
    @include media('>=desktop') {
      @include flex(0 1 auto);
    }
  }

  .tab-pane {
    font-size: 23px;
    line-height: 26px;
    font-weight: 700;

    @include media('<desktop') {
      font-size: 15px;
      line-height: 1.2em;
    }
  }

  .tab-set {
    @include media('<desktop') {
      margin-left: -2px;
    }

    &::before,
    &::after {
      display: none;
    }

    > li {
      > a {
        &:focus,
        &:hover {
          color: inherit;
          background-color: $red;
        }
      }

      &.active {
        > a {
          color: inherit;
          background-color: $red;
        }
      }
    }
  }
}
