@media (min-width: 992px) {
  .statistics {
    .col {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      overflow-y: auto;
    }

    .nav {
      margin-left: auto;
    }
  }
}

.current_page_parent.current-menu-item {
  background: $gray;
}

.current-menu-item {
  background: $red;
  color: inherit;
}

.menu-item.current-menu-item > a[href*="about"],
#main-nav .base > .menu-item > a[href*="about"]:hover,
#main-nav .base > .menu-item > a[href*="about"]:focus {
  background: $red;
  color: inherit;
  text-decoration: none;
}

.menu-item-object-resources.active,
#main-nav .base > .menu-item-object-resources > a:hover,
#main-nav .base > .menu-item-object-resources > a:focus {
  background: $lime;
  color: inherit;
  text-decoration: none;
}

.news-archive.current-menu-item,
#main-nav .base > .news-archive > a:hover,
#main-nav .base > .news-archive > a:focus {
  background: $cyan;
  color: inherit;
  text-decoration: none;
}

.events-archive.current-menu-item,
#main-nav .base > .events-archive > a:hover,
#main-nav .base > .events-archive > a:focus {
  background: $magenta;
  color: inherit;
  text-decoration: none;
}

.talent-archive.current-menu-item,
#main-nav .base > .talent-archive > a:hover,
#main-nav .base > .talent-archive > a:focus {
  background: $yellow;
  color: inherit;
  text-decoration: none;
}

.menu-item.current-menu-item > a[href*="contact"],
#main-nav .base > .menu-item > a[href*="contact"]:hover,
#main-nav .base > .menu-item > a[href*="contact"]:focus {
  background: $white;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 992px) {
  .resources-header {
    margin-left: 27.93%;
    border-left: 2px solid;
  }
}

.number-column {
  width: 28.45%;
  border-right: 2px solid;
}

.single_first-column {
  width: 28.5%;
  padding: 20px 40px;
  position: relative;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.single_second-column {
  width: 62%;
  border: 2px solid;
}

.single_second-column img {
  visibility: hidden;
}

.single_slider-column {
  width: 62%;
  border: 2px solid;
}

.single_third-column {
  width: 9%;
  padding: 20px 40px;
  position: relative;
}

.post-content {
  width: 100%;
  margin-top: -2px;
}

.content-column {
  padding: 20px 40px;
}

.content-column p {
  margin-bottom: 20px;
}

.content-column h1 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

.title-column {
  width: 54%;
}

.number-column,
.title-column,
.weight-column,
.download-column {
  padding: 40px;
}

.title-column,
.weight-column {
  border-right: 2px solid;
}

.download-column {
  background: url("../images/download.svg") no-repeat center center;
  background-size: 25% 25%;
}

.arrow-down {
  display: block;
  height: 25px;
  width: 25px;
  float: right;
  margin-top: -25px;
}

.search-icon {
  display: inline-block;
  width: 14px;
  position: absolute;
}

.goback-icon {
  width: 6px;
  display: inline-block;
  transform: rotateY(180deg);
  margin-right: 7px;
}

.goback-text {
  font-size: 12px;
}

.margin-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media all and (max-width: 480px) {
  .post-right {
    border-left: 0 !important;
    border-top: 2px solid;
    position: relative;
  }

  .post-left {
    position: relative;
  }

  .search {
    width: 90% !important;
  }

  .search-icon {
    width: 10px !important;
  }

  .today-date {
    border-top: 2px solid;
    margin-top: -2px !important;
  }

  .stickit {
    top: -41px !important;
  }

  .resources-header h1,
  .resources-header h2 {
    font-size: 20px !important;
  }

  .resources-filter {
    margin-top: 35px;
    border-top: 2px solid;
  }

  .stickit-resources {
    top: -136px !important;
  }

  .title-column {
    width: 50% !important;
  }

  .number-column {
    width: 14.45% !important;
  }

  .arrow-down {
    width: 18px !important;
    margin-top: -19px !important;
  }

  .bootstrap-wrapper .col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 14.3333333333% !important;
    -ms-flex: 0 0 14.3333333333% !important;
    flex: 0 0 14.3333333333% !important;
    max-width: 14.333333% !important;
  }

  .beefup__right-col {
    width: 61.5% !important;
  }

  .beefup__left-col {
    width: 38.45% !important;
  }
}
