@media (min-width: 992px) {
  .statistics {
    .col {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      overflow-y: auto;
    }

    .nav {
      margin-left: auto;
    }
  }
}

.current_page_parent.current-menu-item {
  background: $gray;
}

.current-menu-item {
  background: $red;
  color: inherit;
}

#main-nav .base > .menu-item > a {
  text-decoration: none;
}

.menu-item.current-menu-item > a,
#main-nav .base > .menu-item > a:hover,
#main-nav .base > .menu-item > a:focus {
  color: inherit;
  background: $red;
}

.menu-item.current-menu-item > a[href*="about"],
#main-nav .base > .menu-item > a[href*="about"]:hover,
#main-nav .base > .menu-item > a[href*="about"]:focus {
  background: $red;
}

.menu-item.current-menu-item > a[href*="resources"],
#main-nav .base > .menu-item > a[href*="resources"]:hover,
#main-nav .base > .menu-item > a[href*="resources"]:focus {
  background: $lime;
}

.menu-item.current-menu-item > a[href*="news"],
#main-nav .base > .menu-item > a[href*="news"]:hover,
#main-nav .base > .menu-item > a[href*="news"]:focus,
.menu-item.current-menu-item > a[href*="blog"],
#main-nav .base > .menu-item > a[href*="blog"]:hover,
#main-nav .base > .menu-item > a[href*="blog"]:focus {
  background: $cyan;
}

.menu-item.current-menu-item > a[href*="events"],
#main-nav .base > .menu-item > a[href*="events"]:hover,
#main-nav .base > .menu-item > a[href*="events"]:focus {
  background: $magenta;
}

.menu-item.current-menu-item > a[href*="talent"],
#main-nav .base > .menu-item > a[href*="talent"]:hover,
#main-nav .base > .menu-item > a[href*="talent"]:focus {
  background: $yellow;
}

.menu-item.current-menu-item > a[href*="contact"],
#main-nav .base > .menu-item > a[href*="contact"]:hover,
#main-nav .base > .menu-item > a[href*="contact"]:focus {
  background: $white;
}

@media (min-width: 992px) {
  .tabs-header {
    margin-left: 27.85%;
  }
}

.single_first-column {
  width: 28.5%;
  padding: 20px 40px;
  position: relative;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.single_second-column {
  width: 62%;
  border: 2px solid;
}

.single_second-column img {
  visibility: hidden;
}

.single_slider-column {
  width: 62%;
  border: 2px solid;
}

.single_third-column {
  width: 9%;
  padding: 20px 40px;
  position: relative;
}

.post-content {
  width: 100%;
  margin-top: -2px;
}

.content-column {
  padding: 20px 40px;
}

.content-column p {
  margin-bottom: 20px;
}

.content-column h1 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

.arrow-down {
  display: block;
  height: 25px;
  width: 25px;
  float: right;
  margin-top: -25px;
}

.search-icon {
  display: inline-block;
  width: 14px;
  position: absolute;
}

.goback-icon {
  width: 6px;
  display: inline-block;
  transform: rotateY(180deg);
  margin-right: 7px;
}

.goback-text {
  font-size: 12px;
}

.margin-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media all and (max-width: 480px) {
  .post-right {
    border-left: 0 !important;
    border-top: 2px solid;
    position: relative;
  }

  .post-left {
    position: relative;
  }

  .search {
    width: 90% !important;
  }

  .search-icon {
    width: 10px !important;
  }

  .today-date {
    border-top: 2px solid;
    margin-top: -2px !important;
  }

  .stickit {
    top: -41px !important;
  }

  .resources-filter {
    margin-top: 35px;
    border-top: 2px solid;
  }

  .stickit-resources {
    top: -136px !important;
  }

  .arrow-down {
    width: 18px !important;
    margin-top: -19px !important;
  }

  .bootstrap-wrapper .col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 14.3333333333% !important;
    -ms-flex: 0 0 14.3333333333% !important;
    flex: 0 0 14.3333333333% !important;
    max-width: 14.333333% !important;
  }

  .beefup__right-col {
    width: 61.5% !important;
  }

  .beefup__left-col {
    width: 38.45% !important;
  }
}
