// vars
$images: '../images/';
$fonts: '../fonts/';
$fa-font-path: '../fonts';

// fonts
$nimbus: 'NimbusSanL', Arial, Helvetica, sans-serif;
$aileron: 'Aileron', Arial, Helvetica, sans-serif;
$favorit: 'Favorit', Arial, Helvetica, sans-serif;
$oswald: 'Oswald', Arial, Helvetica, sans-serif;
$poppins: 'Poppins', sans-serif;

$breakpoints: (
	phone: 360px,
	tablet: 768px,
	desktop: 992px,
	minscroll: 1025px,
	mddesktop: 1200px
);

// colors
$white: #fff;
$black: #000;
$dark-gray: #222221;
$gray: #e6e6e6;
$red: #f93838;

$border-color: $dark-gray;

// sizes
$grid-gutter-width: 92px;
$grid-gutter-width-mobile: 32px;

$text-color: $black;
$font-family-base: $nimbus;
$font-size-base: 22px;
$line-height-main: 26px;
$headings-font-weight: 700;
$link-color: $black;
$link-hover-color: $red;

// bootstrap buttons
$btn-border-radius-base: 0;
$btn-border-radius-small: 0;
$btn-border-radius-large: 0;